body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans serif;
    background: linear-gradient(135deg, #0a0f1f, #0c162a);
    color: white;
}

/*Glass Effect*/
.glass{
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/*Navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba(10, 15, 31, 0.6);
    backdrop-filter: blur(10px);
}

.logo{
    font-size: 22px;
    font-weight: bold;
    color: #4ea3ff;
}

.nav-links a{
    margin-left: 20px;
    text-decoration: none;
    color: #d5e6ff;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #4ea3ff;
}

/*Shuffle Button*/
.shuffle-btn{
    padding: 8px 14px;
    background: #4ea3ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font: 'Roboto Light';
}

.shuffle-btn:hover{
    background: #76b7ff;
}

/*Hero Section*/
.hero{
    text-align: center;
    padding: 120px 20px;
}

.title{
    font-size: 42px;
    font-weight: bold;
    color: #76b7ff;
}

.tagline{
    margin-top: 10px;
    font-size: 18px;
}

/*Jargon Section*/
.jargon-box{
    width: 80%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.jargon-box ul{
    list-style: none;
}

.jargon-box li{
    margin: 10px 0;
    font-size: 14px;
}

/*Footer*/
.footer{
    text-align: center;
    padding: 20px;
    background: rgba(10, 15, 31 0.7);
    backdrop-filter: blur(10px);
    margin-top: 50px;
}

.footer .links a{
    margin: o 10px;
    color: #d5e6ff;
    text-decoration: none;
    font-size: 14px;
}

.footer .links a:hover{
    color: #4ea3ff;
}

/*Responsive*/
@media(max-width:768px) {
    .nav-links{
        display: none;
    }

    .shuffle-btn{
        margin-left: auto;
    }

    .title{
        font-size: 32px;
    }
}